.container {
    width: 400px;
    background: greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: start;
}
.btn {
    flex: 1 1 100%;
    font-weight: bold;
}
.response {
    background: black;
    color: white;
    flex: 1 1 100%;
}
.image-container {
    flex: 1 1 100%;
}
.image-container img {
    width: 100%;
}